aside, article, footer, section {
    display: block;
}

aside {
    width: 25%;
    float: left;
    text-align: center;
    margin: 1.5em;
    color: black;
    background: gray;
}

article {
    width: 50%;
    margin: 1.5em;
    padding-left: 1.5em;
    color: black;
    float: right;
    text-align: left;
}

footer {
    color: gray;
}
