aside, h2, li, article, footer, section {
    display: block;
    color: #222;
    background: white;
}

aside {
    width: 15%;
    float: left;
    text-align: center;
    margin: 1.5em;
    position: fixed;
}

h2 {
    left-margin: 1em;
    right-margin: 1em;
    font-family: 'Actor', sans-serif;
    color: #333;
    font-size: 1.5em;
}

ul {
    list-style: none;
}

li {
    background: white;
}

article {
    width: 75%;
    margin: 1em;
    padding-left: 0.5em;
    color: #333;
    float: right;
    text-align: left;
    font-family: 'Noto Serif', serif;
    border-left: 1px solid #555;
}

footer {
    color: gray;
}


.title {
    margin: 1em;
    font-family: 'Inika', serif;
    background: white;
}


@media only screen and (min-width : 0px) and (max-width : 800px) {

aside {
    width: 100%;
    margin: 0em;
    position: relative;
    float: left;
    clear: both;
    display: block;
    background: white;
    border-bottom: 1px solid #555;
}

ul {
    width: 100%;
    text-align: center;
    list-style: none;
}

li {
    width: 33%;
    font-size: 1em;
    float: left;
}

article {
    width: 90%;
    font-size: 1em;
    border-left: 0px #fff;
    text-align: justify;
}

h2 {
    font-size: 0.75em;
}

}

@media only screen and (min-width : 801px) and (max-width : 960px) {


aside {
    background: url("images/pattern.png") no-repeat center;
    opacity: 0.9;
}


li {
    background: none;
    padding: 1em;
    display: block;
}

span {
    padding: 0.5em;
    display: inline;
    background: white;
}

h2 {
    background: none;
    font-size: 1em;
}

}

@media only screen and (min-width : 961px) {


aside {
    background: url("images/pattern.png") no-repeat center;
    opacity: 0.9;
}


li {
    background: none;
    padding: 1em;
    display: block;
}

span {
    padding: 0.5em;
    display: inline;
    background: white;
}

h2 {
    background: none;
}


}
